/data
**gz
private_notes.md
**__pycache__**

**.env
**.json

# ignore terraform stuff
# leave main.tf example
**/terraform/*
!**/terraform/main.tf

## Mage
modules/2_workflow_orchestration/code/mage_data/
# artifact from tutorial
modules/2_workflow_orchestration/code/titanic_clean.csv 
